= simple_form_for [:admin, post], html: { class: 'form-horizontal post' } do |f|
  .col-md-12
    = f.input :title
    = f.input :body, as: :text
    = f.association :group, prompt: "Choose a group"
    = f.input :attachments, as: :file, input_html: { multiple: true }
    = f.input :attachments_cache, as: :hidden
  .form-group
    .col-sm-12
      = f.submit nil, class: 'btn btn-primary'
      = link_to t('.cancel', default: t("helpers.links.cancel")), admin_posts_path, class: 'btn btn-default'
