- model_class = Post
.row
  .col-sm-9
    %h1.pull-left= t '.title', default: model_class.model_name.human.pluralize.titleize
  .col-sm-3
    %h1.pull-right
      = link_to t('.new', default: t('helpers.links.new')), new_admin_post_path, class: 'btn btn-primary'
.table-responsive
  %table.table.table-striped
    %thead
      %tr
        %th= model_class.human_attribute_name(:title)
        %th= model_class.human_attribute_name(:attachments)
        %th= model_class.human_attribute_name(:date)
        %th= model_class.human_attribute_name(:users)
        %th= model_class.human_attribute_name(:reviewed)
        %th= t '.actions', default: t('helpers.actions')
    %tbody
      - @posts.each do |post|
        %tr
          %td= post.title
          %td= post.attachments.count
          %td= post.created_at.strftime('%d.%m.%Y')
          %td= post.group.users.count
          %td{ id: "post-#{post.id}" }
            = number_to_percentage(post.revisions.count * 100 / post.group.users.count, precision: 2)
          %td
            = link_to t('.show', default: t('helpers.links.show')), admin_post_path(post), class: 'btn btn-default btn-xs'
            = link_to t('.edit', default: t('helpers.links.edit')), edit_admin_post_path(post), class: 'btn btn-default btn-xs'
            = link_to t('.destroy', default: t('helpers.links.destroy')), admin_post_path(post), method: :delete,                                                                                          |
              data: { confirm: t('.confirm', default: t('helpers.links.confirm', default: 'Are you sure?')) },
              class: 'btn btn-xs btn-danger'
