- model_class = Post
%h1= t '.title', default: model_class.model_name.human.pluralize.titleize
%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:title)
      %th= model_class.human_attribute_name(:attachments)
      %th= model_class.human_attribute_name(:created_at)
      %th= t '.actions', default: t('helpers.actions')
  %tbody
    - @posts.each do |post|
      %tr
        %td= post.title
        %td= post.attachments.count
        %td= post.created_at
        %td
          = link_to t('.show', default: t('helpers.links.show')), admin_post_path(post), class: 'btn btn-default btn-xs'
