- model_class = Post
%h1= t '.title', default: model_class.model_name.human.titleize
%dl.dl-horizontal
  %dt
    %strong
      = model_class.human_attribute_name(:title)
      \:
  %dd= @post.title
  %dt
    %strong
      = model_class.human_attribute_name(:body)
      \:
  %dd= @post.body
  %dt
    %strong
      = model_class.human_attribute_name(:attachments)
      \:
  - @post.attachments.each do |attachment|
    - if attachment.content_type.start_with? 'image'
      %dd= image_tag(attachment.thumb.url)
    - else
      %dd= link_to attachment.file.filename, attachment.url, target: '_blank'
