= simple_form_for([:admin, user], html: { class: 'form-horizontal user' }) do |f|
  .col-md-12
    = f.input :email, require: true
    - unless params['action'].eql?('edit')
      = f.input :password, require: true
      = f.input :password_confirmation, require: true
    = f.input :first_name
    = f.input :last_name
    = f.input :phone_number
  .form-group
    .col-sm-12
      = f.submit nil, class: 'btn btn-primary'
      = link_to t('.cancel', default: t("helpers.links.cancel")), admin_users_path, class: 'btn btn-default'
